<mat-toolbar color="accent">
  <h5>Send Push Notification</h5>
</mat-toolbar>

<mat-horizontal-stepper #stepper="matHorizontalStepper">
  <mat-step [stepControl]="pushForm">
    <form [formGroup]="pushForm">
      <ng-template matStepLabel>Message Details</ng-template>
      <div class="stepContent">
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex>
            <input matInput placeholder="Title" aria-label="Title" formControlName="title">
            <mat-hint>Applies to Android devices or iOS wearable devices.</mat-hint>
            <mat-error *ngIf="pushForm.get('title').hasError('required')">
              Title is required
            </mat-error>
            <mat-error *ngIf="pushForm.get('title').hasError('minLength')">
              Must be at least 2 characters
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex>
            <textarea matInput placeholder="Message" aria-label="Message" formControlName="message" rows=5>
            </textarea>
            <mat-error *ngIf="pushForm.get('message').hasError('required')">
              Message is required
            </mat-error>
            <mat-error *ngIf="pushForm.get('message').hasError('minLength')">
              Must be at least 2 characters
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <mat-form-field fxFlex="50%">
            <input matInput placeholder="Label" aria-label="Label" formControlName="label">
            <mat-hint>Used to identify this message for Analytics purposes. Not shown to users.</mat-hint>
            <mat-error *ngIf="pushForm.get('label').hasError('required')">
              Label is required
            </mat-error>
            <mat-error *ngIf="pushForm.get('label').hasError('minLength')">
              Must be at least 2 characters
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="50%">
            <input matInput placeholder="Article ID" aria-label="Article ID" formControlName="articleId">
            <mat-hint>Optional numerical ID of an Article that should open in the app.</mat-hint>
            <mat-error *ngIf="pushForm.get('articleId').hasError('pattern')">
              Must be all numeric digits
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" class="margin-top">
        <div class="flex-spacer"></div>
        <div *ngIf="formError" class="mat-caption error">{{formError}}</div>
        <button mat-raised-button matStepperNext color="accent">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="pushForm">
    <form [formGroup]="pushForm">
      <ng-template matStepLabel>Delivery</ng-template>
      <div class="stepContent">
        <div class="mat-body-2 bold">Schedule Delivery (optional)</div>
        <div fxLayout="column" fxLayoutGap="10px">
          <mat-slide-toggle aria-label="Schedule Delivery" (change)="scheduleDeliveryChange($event)">{{scheduleDelivery ? 'Send Later' : 'Send Now'}} </mat-slide-toggle>
          <div class="mat-caption">When this message should be sent. Now or schedule up to one month in advance.</div>
        </div>
        <div *ngIf="scheduleDelivery" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <mat-form-field fxFlex="33%">
            <input matInput class="date" [min]="minDate" [max]="maxDate" placeholder="UTC Delivery Date" aria-label="UTC Delivery Date"
              formControlName="deliveryDate" [matDatepicker]="deliveryDatePicker">
            <mat-datepicker-toggle matSuffix [for]="deliveryDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #deliveryDatePicker></mat-datepicker>
            <mat-error *ngIf="pushForm.get('deliveryDate').hasError('required')">
              Date is required
            </mat-error>
            <mat-error *ngIf="pushForm.get('deliveryDate').invalid">
              Date can only be up to one month from today.
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="33%">
            <input matInput placeholder="UTC Delivery Time" aria-label="UTC Delivery Time" formControlName="deliveryTime" type="time"
              (change)="onTimeChange($event)">
          </mat-form-field>
          <div fxFlex="33%" fxLayoutAlign="start center">
            <mat-slide-toggle aria-label="Recipient Time Zone" formControlName="receipientTimeZone">{{pushForm.get('receipientTimeZone').value ? 'Recipient\'s Time Zone' : 'Eastern Time Zone'}}</mat-slide-toggle>
          </div>
        </div>
        <div *ngIf="scheduleDelivery" fxLayout="column" fxLayoutGap="10px">
          <div fxLayout="row" class="mat-body-2">Selected Date</div>
          <div fxLayout="row" class="mat-body-1">{{scheduledDate}}</div>
        </div>
        <div fxLayout="row" class="margin-top">
          <button mat-button matStepperPrevious color="accent">Back</button>
          <div class="flex-spacer"></div>
          <div *ngIf="formError" class="mat-caption error">{{formError}}</div>
          <button mat-raised-button matStepperNext color="accent">Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="pushForm">
    <form [formGroup]="pushForm" (ngSubmit)="send(pushForm)">
      <ng-template matStepLabel>Target(s)</ng-template>
      <div class="stepContent">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <mat-list formArrayName="target">
            <h2 mat-subheader>Select Target Language(s)</h2>
            <button mat-button (click)="this.addTarget()" type="button">
              <mat-icon>add</mat-icon>Add Language
            </button>
            <mat-list-item class="mobile-apps" *ngFor="let position of this.targetArray.controls let i=index" [formGroupName]="i">
              <mat-form-field fxFlex="300px">
                <mat-select placeholder="Mobile App" formControlName="mobileApp">
                  <mat-option *ngFor="let mobileApp of this.MobileApps" [value]="mobileApp">
                    {{ mobileApp.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button fxFlex="33px" mat-icon-button (click)="this.targetArray.removeAt(i)" type="button">
                <mat-icon>close</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div fxLayout="row" class="margin-top">
        <button mat-button matStepperPrevious color="accent" type="button">Back</button>
        <div class="flex-spacer"></div>
        <div *ngIf="formError" class="mat-caption error">{{formError}}</div>
        <button mat-button color="warn" (click)="stepper.reset()" type="button">Reset</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="this.pushForm.invalid">Send</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
